{{>header}}

<script src="/javascripts/search_filter.js"></script>
<div class="container" id="search">
    <h1> Search/Update Product</h1>

    <form action="#" method="POST" novalidate>
        <div class="form-group">
            <label for="title">Product Title</label>
            <input type="text" name="title" placeholder="Enter Product name" id="title" class="form-control"></input>
        </div>

        <div class="form-group">
            <label for="category" class="col-sm-2 col-form-label">Category</label>
            <select name="category" id="category">
                <option value="all">All Category</option>
                <option value="fruits">Fruit</option>
                <option value="personalcare">Personal Care</option>
                <option value="vegetables">Vegetable</option>
            </select>
        </div>

        <input type="button" class="btn btn-primary" id="but" value="Search" name='SubmitButton'>

    </form>
</div>
<br /><br />

<div class="container" id="results">

    <div class="row" id="clear">
    </div>
</div>
{{>footer}}